@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@import url("../dist/css/all.min.css");
.rss-wrapper.gaming .rss-site-logo i::before {
  content: '\f11b';
}

.rss-wrapper.technik .rss-site-logo i::before {
  content: '\f2db';
}

.rss-wrapper.sport .rss-site-logo i::before {
  content: '\f44e';
}

.rss-wrapper.it .rss-site-logo i::before {
  content: '\f7bf';
}

.bg-dark {
  background-color: #202225 !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Titillium Web', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #36393f;
}

body .rss-catbar {
  padding: 10px 0;
  background-color: #2f3136;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body .rss-catbar .rss-cat-item {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #36393f;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .rss-catbar .rss-cat-item i {
  color: #43b581;
}

body #content {
  margin-bottom: 100px;
}

body #content .rssfeed-wrapper {
  margin-top: 30px;
}

body #content .rssfeed-wrapper h2 {
  text-transform: uppercase;
}

body #content .rssfeed-wrapper .rssfeed-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 48%;
  height: 300px;
  background: green;
  border-radius: 10px;
  padding: 15px;
  background-image: url("https://static.fore.4pcdn.de/premium/Spiele/cc/04/41340-teaser1.jpg"), -webkit-gradient(linear, left top, left bottom, from(#eb01a5), to(#d13531));
  background-image: url("https://static.fore.4pcdn.de/premium/Spiele/cc/04/41340-teaser1.jpg"), linear-gradient(#eb01a5, #d13531);
  background-blend-mode: screen;
  background-position: center;
  background-size: cover;
  margin-bottom: 15px;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-item .rssfeed-content {
  position: relative;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-item .rssfeed-content h3 {
  font-size: 44px;
  word-break: break-word;
  text-transform: uppercase;
  line-height: 37px;
  font-weight: 700;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-item .rssfeed-content p {
  margin: 0;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-item .rssfeed-btn-secondary {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: white;
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-item .rssfeed-btn-secondary i {
  font-size: 15px;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-news {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #202225;
  padding: 15px;
  border-radius: 10px;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-news .rssfeed-news-wrapper {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-news .rssfeed-news-wrapper .rssfeed-news-head {
  border-radius: 10px;
  height: 170px;
  background-size: cover;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-blend-mode: screen;
  overflow: hidden;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-news .rssfeed-news-wrapper .rssfeed-news-head h3 {
  margin-bottom: 15px;
  font-weight: 700;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-news .rssfeed-news-wrapper .rssfeed-news-content {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 400;
  padding: 0 5px;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-news .rssfeed-news-wrapper .rssfeed-tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-news .rssfeed-news-wrapper .rssfeed-tag-container .rssfeed-tag {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-size: 12px;
  padding: 5px 20px;
}

body #content .rssfeed-wrapper .rssfeed-container .rssfeed-news .rssfeed-news-wrapper .rssfeed-tag-container .rssfeed-btn-round {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .rssfeed-add-wrapper {
  position: fixed;
  bottom: 85px;
  width: 100%;
}

body .rssfeed-add-wrapper .rssfeed-add {
  position: absolute;
  right: 15px;
  bottom: 0;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color: #43b581;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #36393f;
}

body .rssfeed-add-wrapper .rssfeed-add-form {
  background-color: aqua;
  width: calc(100% - 30px);
  position: relative;
  bottom: 70px;
  left: 15px;
  border-radius: 10px;
  padding: 15px;
}
/*# sourceMappingURL=style.css.map */