//implode all scss
@import "_fonts.scss";
@import "_mixins";
@import"_vaiables";

//gloabl settings

//tag icons 
.rss-wrapper {
    &.gaming {
        .rss-site-logo {
            i {
                &::before {
                    content: '\f11b';
                }
            }
        }
    }
    &.technik{
        .rss-site-logo {
            i {
                &::before {
                    content: '\f2db';
                }
            }
        }
    }
    &.sport{
        .rss-site-logo {
            i {
                &::before {
                    content: '\f44e';
                }
            }
        }
    }
    &.it{
        .rss-site-logo {
            i {
                &::before {
                    content: '\f7bf';
                }
            }
        }
    }
}
//rss body for each feed
.bg-dark {
    background-color: $bg-dark  !important;
}
body {
    background-color: $bg-light;
    .rss-catbar {
        padding: 10px 0;
        background-color: $bg-light-gray;
        position: fixed;
        bottom: 0;
        width: 100%;
        .rss-cat-item {
            @include round(50px);
            background-color: aqua;
            margin: 0 10px;
        }
    }
    .rss-feed-wrapper {
        h2 {
            color: $bg-dark;
        }
        .rss-feed-container {
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            .rss-feed-item {
                background-color: aquamarine;
                width: 230px;
                height: 350px;
                border-radius: 15px;
            }
        }
    }
}